---
import { Inline, PadBox, Split, uid } from 'chisel-ui'
import Button from './Button.astro'
import Toggle from './Toggle.astro'

const id = uid()

const inlineStyle = `
    @media (max-width: 639px) {
        #${id}:not([active]) [slot="sidebar"] {
            display: none;
        }

        #${id}[active] [slot="content"] {
            display: none;
        }
    }
`
---

<Split {id} fraction='auto-start' switchAt='sm'>
    <PadBox padding={{ left: 'sm', right: 'sm' }}>
        <Inline as='header' align='center' style='--justify: space-between;'>
            <a href='/'>
                <span class='sr-only'>Go to homepage</span>
                <img src="/icon.svg" aria-hidden="true" height="32" width="32" />
            </a>
            <Button as={Toggle} targetId={id} hollow>☰</Button>
        </Inline>
    </PadBox>

    <slot name='sidebar' />
    <slot name='content' />
</Split>

<style set:html={inlineStyle}></style>

<style>
    header :global(button) {
        padding-right: 0;
    }

    @media (min-width: 640px) {
        header {
            display: none;
        }
    }
</style>